@(profileForm : Form[ProfileData])
@import helper._
@form(CSRF(routes.ProfileController.createProfile)){
@helper.CSRF.formField

<html>

  <style>
    #bioForm{
      width: 300px;
      height: 200px;
    }
  </style>
  <h1>Create New User</h1>
   <p>
       @helper.inputText(profileForm("firstName"), '_label -> "First Name :")
   </p>
   <p>
       @helper.inputText(profileForm("lastName"), '_label -> "Last Name :")
   </p>
   <p>
       @helper.inputText(profileForm("username"), '_label -> "Username :")
   </p>
   <p>
       @helper.inputPassword(profileForm("password"), '_label -> "Password :")
   </p>
   <p>
       @helper.inputText(profileForm("age"), '_label -> "Age :")
   </p>
   <p>
       @helper.textarea(profileForm("biography"), '_label -> "Biography :")
   </p>
   <p>
     <button type="submit" action="@routes.ProfileController.login()">Create User</button>
   </p>
   </html>
}
