@(profileForm : Form[ProfileData])
@import helper._
@form(CSRF(routes.ProfileController.createProfile)){


<html>

  <style>
    #bioForm{
      width: 300px;
      height: 200px;
    }
  </style>
  <h1>Create New User</h1>
   <p>
       First Name :<input type="text" name="firstname" placeholder="First Name" value="@profileForm("firstname").getValue()">
   </p>
   <p>
       Last Name :<input type="text" name="lastname" placeholder="Last Name" value = "@profileForm("lastname").getValue()">
   </p>
   <p>
       Username :<input type="text" name="username" placeholder="Username" value = "@profileForm("username").getValue()">
   </p>
   <p>
       Password :<input type="password" name="password" placeholder="" value = "@profileForm("password").getValue()">
   </p>
   <p>
       Age :<input type="text" name="age"  value = "@profileForm("age").getValue()">
   </p>
   <p>
       Biography :<input id="bioForm" type="text" name="biography" placeholder="Describe yourself." value = "@profileForm("biography").getValue()">
   </p>
   <p>
     <button type="submit" action="@routes.ProfileController.login()">Create User</button>
   </p>
   </html>
}
