@(profileForm : Form[ProfileData])
@helper.form(routes.ProfileController.createProfile){
@helper.CSRF.formField
@helper.inputText(profileForm("firstName"))
@helper.inputText(profileForm("lastName"))
@helper.inputText(profileForm("username"))
@helper.inputText(profileForm("password"))

@helper.inputText(profileForm("biography"))

<html>

  <style>
    #bioForm{
      width: 300px;
      height: 200px;
    }
  </style>
  <h1>Create New User</h1>
   <p>
       First Name :<input type="text" name="firstname" placeholder="First Name" value="@profileForm("firstname").value">
   </p>
   <p>
       Last Name :<input type="text" name="lastname" placeholder="Last Name" value = "@profileForm("lastname").value">
   </p>
   <p>
       Username :<input type="text" name="username" placeholder="Username" value = "@profileForm("username").value">
   </p>
   <p>
       Password :<input type="password" name="password" placeholder="" value = "@profileForm("password").value">
   </p>
   <p>
       Age :<input type="number" name="age"  value = "@profileForm("age").value">
   </p>
   <p>
       Biography :<input id="bioForm" type="text" name="biography" placeholder="Describe yourself." value = "@profileForm("biography").value">
   </p>
   <p>
     <button type="submit" action="@routes.ProfileController.login()">Create User</button>
   </p>
   </html>
}
