@()

@main("Job Search") {

<html>
  <head>
    <HTA:application
      APPLICATIONNAME="Job Search"
      SYSMENU="yes">
    <title>Job Search</title>
    <style type="text/css">
      body {background-color:lightsteelblue;}
      p {font:bold 18px arial;}
    </style>
    <script language="javascript" type="text/javascript">
      window.resizeTo(640,480);
    </script>
  </head>
  <body>
    <p>Welcome to Job Search!!!<br   /><br   />Group 10 </p>
    <form>
      Username:<br /> <input name="Username" type="text" /><br />
      Password:<br /> <input name="Password" type="text" /><br />
      Comfirm Password:<br /> <input name="Comfirm Password" type="text"/><br />
      Email Address:<br /> <input name="Email Address" type="text" />
    </form>
    <p style="text-align: left;"><button type="button">Submit</button> <button type="button">Back</button></p>
  <body>
</html>
}
