@(form : Form[ProfileLogin])

<html>
@helper.form(routes.ProfileController.authenticate){
  <h1>Sign in</h1>
   <p>
       <input type="text" name="username" placeholder="Username" value="@form("username").value">
   </p>
   <p>
       <input type="password" name="password" placeholder="Password" value = "@form("password").value">
   </p>
   <p>
       <button type="submit">Login</button>
   </p>
   <p>
     <button type="submit" action="@routes.ProfileController.viewCreateProfile()">Create User</button>
   </p>
   </html>
}
