@(loginForm : Form[ProfileLogin])
@import helper._
@form(CSRF(routes.ProfileController.authenticate)){



<html>

  <h1>Sign in</h1>
   <p>
       <input type="text" name="username" placeholder="Username" value="@loginForm("username").getValue()">
   </p>
   <p>
       <input type="password" name="password" placeholder="Password" value = "@loginForm("password").getValue()">
   </p>
   <p>
       <button type="submit">Login</button>
   </p>

}
<p>
  <a href="@routes.ProfileController.viewCreateProfile">Create User</a>
</p>
</html>
