@(profile: Profile)



<!DOCTYPE html>
<html lang="en">
  <head>
    <style type="text/css">
      #person-stats {background-color:lightgray; color: black;}
      #person-bio {background-color: gray; color: white;}
    </style>
  </head>
  <body>
    <div id="person-stats">

      <h4>Name: </h4>
      <p>@(profile.getFirstName() + " " + profile.getLastName())</p>

      <h4>Age: </h4><p>@(profile.getAge())</p>
      <h4>Password: </h4><p>@(profile.getPassword())</<p>
    </div>
    <div id="person-bio">
      <h4>Biography:</h4>
      <p>@(profile.getBiography())</p>
    </div>
  </body>
<html>
